/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
body {
    font-family: "Lato", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 17px;
}

.navbar {
    border-color: #ff4342;
    background-color: #ff4342;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ffffff;
}

.form-control {
    border-radius: 9px;
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 9px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    background-color: #0d6efd;
}
